*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* to display score an box up and down */
    flex-direction: column;
    height:90vb;
}
#tetris{
    background-color: white;
    box-shadow: 0 0 10px 0 lightgray;
}